{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    </head>
    <body>
        <h1> This is index template </h1>
        <h2>
            {% for item in items %}
                <a href="{% url 'myapp:detail' item.id %}">
                    ID: {{item.id}} | სახელი: {{item.name}} | ფასი: {{item.price}} | აღწერა: {{item.description}} <br/>
                </a>
            {% endfor %}
        </h2>
    </body>
</html>